:root {
    --color-blue: #026EA4;
    --color-darkblue: #0F2E4C;
    --color-white: #fff;
    --color-bluelite: #d5f0fd;
    --color-background: #ABB2B9;
    --color-total: #0883C1;
}

* {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background: var(--color-background);
    width: 100%;
    max-width: 900px;
    margin: auto;
    position: relative;
}

.container {
    width: min(90vw, 800px);
    margin: auto;
}

h2 {
    margin-top: 3rem;
    margin-bottom: 0.8rem;
    color: var(--color-darkblue);
    font-weight: normal;
}

header {
    background: var(--color-blue);
    padding: 2rem 0 10rem;
    text-align: center;
}

#logo {
    color: var(--color-white);
    font-weight: 100;
}

#balance {
    margin-top: -6rem;
}

#balance h2 {
    margin-top: 0;
    color: var(--color-white);
}

.card {
    background: var(--color-bluelite);
    padding: 1rem 2rem;
    margin-bottom: 1.5rem;
    border-radius: 0.30rem;
}

.card h3 {
    font-size: 1rem;
    font-weight: normal;
}

.card p {
    font-size: 2rem;
    line-height: 2.5rem;
    margin-top: 10px;
}

.card.total {
    background: var(--color-total);
    color: var(--color-white);
}

#data-table {
    width: 100%;
    border-spacing: 0 0.5rem;
    color: #969cb3;
}

table th {
    background: var(--color-bluelite);
    font-weight: normal;
    padding: 0.5rem 2rem;
    text-align: left;
}

table tr {
    opacity: 0.7;
}

table tr:hover {
    opacity: 1;
}

table td {
    background: var(--color-bluelite);
    padding: 0.5rem 2rem;
    font-weight: normal;
}


table thead tr th:first-child,
table tbody tr td:first-child {
    border-radius: 0.30rem 0 0 0.30rem;
}

footer {
    text-align: center;
}